/* ============================================================================
   COMPONENTS -> MENU
   ========================================================================= */

/*!
 * Menu
 * @description Styles for the main menu
 */

.c-menu a {
  padding: theme('spacing.1') 0;
  &[aria-current="page"] {
    border-bottom: 1px solid theme('colors.blue.300');
    color: theme('colors.blue.900');
  }
}
