# #############################################################################
# # GIT IGNORE                                                                #
# # Include your project-specific ignores in this file                        #
# # Read about how to use .gitignore:                                         #
# # https://help.github.com/articles/ignoring-files                           #
# #############################################################################

# Packages
# --------------------------------------------------------------------------- #

node_modules/*
vendor
.sass-cache/*

# Build artefacts            
# --------------------------------------------------------------------------- #

/web/dist/*
/node_modules/*
/yarn-error.log
/npm-debug.log
/mix-manifest.json
/web/mix-manifest.json
/web/hot


# Environment
# --------------------------------------------------------------------------- #

.env


# Misc
# --------------------------------------------------------------------------- #

ehthumbs.db
.history
*.sublime-project
*.sublime-workspace
.cache
.DS_Store
.idea
.project
.rvmrc
.settings
*.esproj
*.tmproj
*.tmproject
.vscode

