/* ============================================================================
   OBJECTS -> SHARE
   ========================================================================= */

/*!
 * Share
 * @description Social media share button(s)
 */

:root {
  --ico-share: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.5 11c-0.706 0-1.342 0.293-1.797 0.763l-6.734-3.367c0.021-0.129 0.032-0.261 0.032-0.396s-0.011-0.267-0.032-0.396l6.734-3.367c0.455 0.47 1.091 0.763 1.797 0.763 1.381 0 2.5-1.119 2.5-2.5s-1.119-2.5-2.5-2.5-2.5 1.119-2.5 2.5c0 0.135 0.011 0.267 0.031 0.396l-6.734 3.367c-0.455-0.47-1.091-0.763-1.797-0.763-1.381 0-2.5 1.119-2.5 2.5s1.119 2.5 2.5 2.5c0.706 0 1.343-0.293 1.797-0.763l6.734 3.367c-0.021 0.129-0.031 0.261-0.031 0.396 0 1.381 1.119 2.5 2.5 2.5s2.5-1.119 2.5-2.5c0-1.381-1.119-2.5-2.5-2.5z"></path></svg>');
  --ico-facebook: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/></svg>');
  --ico-linkedin: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/></svg>');
  --ico-twitter: url('data:image/svg+xml,<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m303.124 217.239 184.392-214.34h-43.695l-160.107 186.111-127.881-186.111h-147.491l193.377 281.43-193.377 224.772h43.696l169.081-196.54 135.049 196.54h147.49l-200.546-291.862zm-59.85 69.569-19.594-28.023-155.895-222.991h67.118l125.809 179.962 19.591 28.023 163.539 233.922h-67.117l-133.451-190.88z" fill-rule="nonzero"/></svg>');
  --ico-email: url('data:image/svg+xml,<svg viewBox="0 0 15 11" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M0,8.438l0,-6.719c0,-0.456 0.181,-0.893 0.503,-1.216c0.323,-0.322 0.76,-0.503 1.216,-0.503l10.75,-0c0.456,-0 0.893,0.181 1.215,0.503c0.322,0.323 0.503,0.76 0.503,1.216l0,6.719c0,0.455 -0.181,0.893 -0.503,1.215c-0.322,0.322 -0.759,0.503 -1.215,0.503l-10.75,0c-0.456,0 -0.893,-0.181 -1.216,-0.503c-0.322,-0.322 -0.503,-0.76 -0.503,-1.215Zm12.871,-7.601c-0.125,-0.057 -0.262,-0.087 -0.402,-0.087l-10.75,-0c-0.139,-0 -0.276,0.03 -0.4,0.086l5.774,4.118l5.778,-4.117Zm-12.064,0.555c-0.037,0.104 -0.057,0.214 -0.057,0.327l-0,6.718c-0,0.257 0.102,0.504 0.284,0.686c0.181,0.181 0.428,0.283 0.685,0.283l10.75,0c0.257,0 0.503,-0.102 0.685,-0.283c0.181,-0.182 0.283,-0.429 0.283,-0.686l0,-6.718c0,-0.112 -0.019,-0.221 -0.055,-0.325l-6.071,4.326c-0.13,0.092 -0.305,0.092 -0.435,-0l-6.069,-4.328Z" fill="currentColor"/></svg>');
  --ico-copy: url('data:image/svg+xml,<svg viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"  style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M4.802,7.107c-0.123,-0.166 -0.09,-0.401 0.076,-0.525c0.166,-0.124 0.401,-0.09 0.525,0.076c0.223,0.298 0.508,0.545 0.836,0.724c0.327,0.179 0.689,0.285 1.061,0.312c0.372,0.027 0.745,-0.027 1.095,-0.158c0.349,-0.13 0.666,-0.334 0.93,-0.598c0,0 1.783,-1.782 1.783,-1.782c0.472,-0.49 0.734,-1.147 0.728,-1.828c-0.006,-0.682 -0.28,-1.334 -0.762,-1.816c-0.482,-0.482 -1.134,-0.756 -1.816,-0.762c-0.681,-0.006 -1.338,0.256 -1.828,0.729l-1.021,1.015c-0.147,0.146 -0.385,0.145 -0.531,-0.002c-0.146,-0.146 -0.145,-0.384 0.002,-0.53l1.024,-1.018c0.001,-0.001 0.002,-0.002 0.003,-0.003c0.632,-0.611 1.479,-0.949 2.357,-0.941c0.879,0.008 1.719,0.36 2.341,0.981c0.621,0.622 0.973,1.462 0.981,2.341c0.008,0.878 -0.33,1.725 -0.941,2.357c-0.001,0.001 -0.003,0.003 -0.004,0.004l-1.786,1.786c-0.339,0.339 -0.748,0.602 -1.198,0.77c-0.45,0.168 -0.931,0.237 -1.411,0.203c-0.479,-0.034 -0.945,-0.171 -1.367,-0.402c-0.422,-0.23 -0.789,-0.548 -1.077,-0.933Z" fill="currentColor"/><path d="M7.784,5.467c0.124,0.166 0.09,0.401 -0.076,0.525c-0.166,0.124 -0.401,0.09 -0.525,-0.075c-0.223,-0.299 -0.508,-0.546 -0.836,-0.725c-0.327,-0.179 -0.689,-0.285 -1.061,-0.312c-0.372,-0.026 -0.745,0.027 -1.095,0.158c-0.349,0.13 -0.666,0.334 -0.93,0.598c-0,-0 -1.783,1.782 -1.783,1.782c-0.472,0.491 -0.734,1.147 -0.728,1.828c0.006,0.682 0.28,1.334 0.762,1.816c0.482,0.482 1.134,0.756 1.816,0.762c0.681,0.006 1.338,-0.256 1.828,-0.728l1.015,-1.015c0.146,-0.147 0.384,-0.147 0.53,-0c0.146,0.146 0.146,0.384 -0,0.53l-1.018,1.018c-0.001,0.001 -0.003,0.003 -0.004,0.004c-0.632,0.611 -1.479,0.949 -2.357,0.941c-0.879,-0.008 -1.719,-0.36 -2.341,-0.981c-0.621,-0.622 -0.973,-1.462 -0.981,-2.341c-0.008,-0.878 0.33,-1.725 0.941,-2.357c0.001,-0.001 0.003,-0.003 0.004,-0.004l1.786,-1.786c0.339,-0.339 0.748,-0.602 1.198,-0.77c0.45,-0.168 0.931,-0.237 1.411,-0.203c0.479,0.034 0.945,0.171 1.367,0.402c0.422,0.23 0.789,0.549 1.077,0.933Z" fill="currentColor"/></svg>');
  --ico-copied: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" fill="currentColor"/></svg>');
}

.o-share {
  --bdrs: 50%;
  --bgc: theme('colors.gray.400');
  --bgch: theme('colors.gray.900');
  --bxsh: 0 0 0 2px hsla(210, 24%, 15%, 0.65);
  --icon: var(--ico-share);
  --icon-bgc:  hsl(210, 24%, 35%);
  --icon-size: 60%;
  --size: 2.5rem;
  min-height: var(--size);
}

[data-share-item] {
  background-color: var(--bgc);
  border: 0;
  border-radius: var(--bdrs);
  display: inline-block;
  height: var(--size);
  outline: none;
  transition: background-color 0.3s linear;
  width: var(--size);
}

[data-share-item] i {
  background-color: var(--icon-bgc);
  display: inline-block;
  height: 100%;
  -webkit-mask: no-repeat center center/var(--icon-size) var(--icon);
  mask: no-repeat center center/var(--icon-size) var(--icon);
  mask-size: 1em;
  width: 100%;
  --icon-bgc: #FFF;
}

[data-share-item]:focus,
[data-share-item]:hover {
  background-color: var(--bgch);
  //box-shadow: var(--bxsh);
}

/* Modifiers */
[data-share-item="facebook"] i {
  --icon: var(--ico-facebook);
  --icon-bgc: #FFF;
  mask-size: 0.7em;
}
[data-share-item="linkedin"] i {
  --icon: var(--ico-linkedin);
  --icon-bgc: #FFF;
  mask-size: 1em;
}
[data-share-item="twitter"] i {
  --icon: var(--ico-twitter);
  --icon-bgc: #FFF;
  mask-size: 1.1em;
}
[data-share-item="email"] i {
  --icon: var(--ico-email);
  --icon-bgc: #FFF;
  mask-size: 1.3em;
  margin-top:0.05rem;
}
[data-share-item="copy"] i {
  --icon: var(--ico-copy);
  --icon-bgc: #FFF;
  mask-size: 1.3em;
  margin-top:0.05rem;
}
[data-share-item="copied"],
[data-share-item="copied"]:hover,
[data-share-item="copied"]:focus {
  --bgc: theme('colors.green.600');
  --bgch: theme('colors.green.600');
}
[data-share-item="copied"] i {
  --icon: var(--ico-copied);
  --icon-bgc: #FFF;
  mask-size: 1em;
}
